<?xml version="1.0" encoding="us-ascii"?>
<Config>
  <comport>AUTO</comport>
  <baudrate>115200</baudrate>
  <APMFirmware>ArduPlane</APMFirmware>
  <fw_check>5/12/2015</fw_check>
  <fpcoordmouse>GEO</fpcoordmouse>
  <TXT_loiterrad>45</TXT_loiterrad>
  <CMB_altmode>Relative</CMB_altmode>
  <Tracker_TXT_tiltaccel>5</Tracker_TXT_tiltaccel>
  <guid>f72d9599-0679-4740-ac80-d2d24ee7be9a</guid>
  <MapType>BingSatelliteMap</MapType>
  <TXT_homealt>100</TXT_homealt>
  <Tracker_CMB_serialport>COM3</Tracker_CMB_serialport>
  <FlightSplitter>358</FlightSplitter>
  <Tracker_TXT_tiltspeed>100</Tracker_TXT_tiltspeed>
  <advancedview>False</advancedview>
  <NUM_tracklength>200</NUM_tracklength>
  <TXT_WPRad>30</TXT_WPRad>
  <Tracker_TXT_pwmrangetilt>1000</Tracker_TXT_pwmrangetilt>
  <Tracker_CHK_revtilt>False</Tracker_CHK_revtilt>
  <plane_guid>0b06a206-fba5-4bd5-aa57-c586f19db367</plane_guid>
  <menu_autohide>false</menu_autohide>
  <maplast_lng>-8.0859375</maplast_lng>
  <Tracker_CMB_interface>Maestro</Tracker_CMB_interface>
  <TXT_homelng />
  <copter_guid>7c4f6409-f1f4-4bff-8421-adf68efa5909</copter_guid>
  <SaveUserSetup>False</SaveUserSetup>
  <Tracker_TXT_panaccel>5</Tracker_TXT_panaccel>
  <Tracker_TXT_pwmrangepan>1000</Tracker_TXT_pwmrangepan>
  <Tracker_TXT_panspeed>100</Tracker_TXT_panspeed>
  <MainHeight>744</MainHeight>
  <MainMaximised>Maximized</MainMaximised>
  <Tracker_TRK_pantrim>0</Tracker_TRK_pantrim>
  <Tracker_CMB_baudrate />
  <Tracker_TXT_centerpan>1500</Tracker_TXT_centerpan>
  <Tracker_TXT_centertilt>1500</Tracker_TXT_centertilt>
  <fpminaltwarning>0</fpminaltwarning>
  <Tracker_CHK_revpan>False</Tracker_CHK_revpan>
  <MainLocX>-8</MainLocX>
  <TXT_DefaultAlt>100</TXT_DefaultAlt>
  <Tracker_TXT_panrange>360</Tracker_TXT_panrange>
  <MainWidth>1382</MainWidth>
  <Tracker_TXT_tiltrange>90</Tracker_TXT_tiltrange>
  <maplast_zoom>3</maplast_zoom>
  <TXT_homelat />
  <MainLocY>-8</MainLocY>
  <rover_guid>3099e5fb-9a80-401d-aa8f-1e70d6050fcb</rover_guid>
  <maplast_lat>0.869499261061122</maplast_lat>
  <Tuning_Graph_Selected>roll|pitch|nav_roll|nav_pitch|</Tuning_Graph_Selected>
  <Tracker_TRK_tilttrim>0</Tracker_TRK_tilttrim>
</Config>